.message
	display flex
	padding 10px
	padding-right 50px

	&__avatar
		margin-left 10px

	&__content
		margin-left 20px

	&__name
		display inline-block
		font-weight 600

	&__time
		margin-left 5px
		display inline-block
		color c-gray
		font-weight lighter
		font-size 0.9em

	&__text
		margin-top 10px
