doctype
html(lang='en')
	head
		title= "Projetct II"
		meta(charset= 'utf-8')
		link(rel="stylesheet" href ="css/bootstrap.css")
		link(rel="stylesheet" href ="css/main.css")
		script(type='text/javascript' src ="js/main.js")
		script(type='text/javascript' src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	body
		.wrapper#wrapper
			.container#main
					ul#list
						li: p="hi there"
			form(name = '/', method='post')
				input(type= 'text')#input
				button(type= 'button' name= 'Send') Send
