include ../avatar/avatar
include ../title/title
include ../text/text

mixin thread(data)
	.thread(id='name_' + data.name class={
		thread_state_unread: data.unreadCounter,
		thread_state_current: data.current,
	})
		+avatar.thread__avatar(src=data.avatar)
		.thread__info
			+title.thread__name= data.name
			+text.thread__text= data.lastMessage
			.thread__date= data.date
			if data.unreadCounter
				.thread__counter= data.unreadCounter
