body{
	background-color: #222222;
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
	color: #222222;
	width: 900px;
	margin: 0 auto;
	padding: 0px;
}
#messages{
	margin-top: 2%;
	width: 100%;
	height: 100%;
}
#main{
	width: 100%;
	height: 500px;
	background-color: #272C30;
	overflow-y: scroll;
}
#input{
	margin-top: 2%;
	width: 100%;
	height: 60px;
}
#loginform{
	padding-top: 20%;
	padding-left: 32%;
}
#loginform p{
	margin-left: 15%;
	color:  #ffffff;
}
#logininput{
	width: 300px;
}
.button{
	width: 80px;
	margin-left: 1%;
}

.my_msg{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30%;
	width: 70%;
	word-wrap: break-word;
	background-color: #00AEDB;
	text-align: left;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 10px;
	color: #ffffff;
}
.user-status{
	color: #ffffff;
}
.msg{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #586166;
	width: 70%;
	margin-right: 30%;
	padding-left: 3%;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 10px;
	color: #ffffff;
	word-wrap: break-word;
}
.user-status{
	margin-left: 3%;
	color: rgba(255, 255, 255, 0.6);
}
#m{
	margin-left: 20%;
	resize: vertical;
	max-height: 160px;
	width: 500px;
	height: 80px;
}
#send{
	margin-left: 45%;
	display: block;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(34, 34, 34, 0.9);
}