include ../avatar/avatar
include ../text/text

mixin message(data)
	.message
		.message__avatar
			+avatar(src=data.avatar)
		.message__content
			.message__name= data.name
			.message__time= data.time
			+text.message__text= data.text
