.main
	position fixed
	left 50%
	display flex
	width 1024px
	margin-top main-offset
	margin-left (@width / -2)
	height 'calc(100vh - %s)' % (@margin-top * 2)
	background-color c-white
	border-radius 10px
	box-shadow 0 0 20px alpha(c-dark, .05)
	overflow hidden
