.header
	position absolute
	display flex
	height header-height
	background-color c-white

	&__avatar
		margin-left 30px
		align-self center

	&__info
		margin-left 20px
		align-self center

	&__text
		margin-top 7px
