include ../avatar/avatar
include ../title/title
include ../text/text

mixin header()
	header.header
		+avatar.header__avatar(src='https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg')
		.header__info
			+title.header__title Conversation with Pamfil Stavarache
			+text.header__text Tapdaq Ltd. - tapdaq.com
